
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}


.navbar {
    width: 100%;
    background: #222;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.order-btn {
    background: green;
    padding: 8px 15px;
    border-radius: 5px;
}


.hero {
    height: 350px;
    background: url(https://render.fineartamerica.com/images/rendered/search/print/8/8/break/images/artworkimages/medium/3/meditarranean-salad-01-elisabeth-lucas.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.hero-text p {
    color: white;
    margin-top: 10px;
    font-size: 18px;
}


.featured {
    padding: 40px 0;
    text-align: center;
}

.featured h2 {
    margin-bottom: 25px;
    font-size: 28px;
}

.dish-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.dish-card {
    width: 200px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.dish-card:hover {
    transform: scale(1.11);
}

.dish-card img {
    width: 100%;
    border-radius: 10px;
    height:150px;
    width:150px;
}

.dish-card h3 {
    margin-top: 10px;
    font-size:15px;
}

.dish-card p {
    margin: 10px 0;
    color: gray;
    font-size:12px;
}

.dish-card button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}


.reviews {
    padding: 40px 0;
    background: #e4e4e4;
    text-align: center;
}

.review-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.review-card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
